.spell__message{
    display:flex;
    justify-content: center;
    padding: 1rem 1rem;
    margin-top: 1rem;
    background-color: rgb(192, 192, 163);
}

.spell__message--content{
    font-size: 1.5rem;
    color: red;
}